* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url("assets/img5.jpg");
    background-size: 110%;
    background-position: center;
    background-attachment: fixed;
    color: white;
    animation: bgZoom 12s ease-in-out infinite alternate;
}

@keyframes bgZoom {
    from {
        background-size: 110%;
    }
    to {
        background-size: 120%;
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}


.logo {
    font-family: "Anton", sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeDown 0.8s ease forwards;
}


nav a {
    color: #fff;
    margin-left: 22px;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    opacity: 0;
    animation: fadeDown 0.8s ease forwards;
}

nav a:nth-child(1) { animation-delay: 0.2s; }
nav a:nth-child(2) { animation-delay: 0.35s; }
nav a:nth-child(3) { animation-delay: 0.5s; }
nav a:nth-child(4) { animation-delay: 0.65s; }

nav a:hover {
    color: #ffb703;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #ffb703;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}



.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    text-align: center;
    padding: 140px 30px;
}


.hero h1 {
    font-size: 80px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.6s;
}


.hero p {
    font-size: 30px;
    color: #ffc400;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.9s;
}


@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 48px;
    }

    .hero p {
        font-size: 20px;
    }
}
